@font-face {
  font-family: "EBGaramond";
  src: url("../fonts/EBGaramond-Regular.ttf");
  font-weight: 400;
  display: swap;
}

@font-face {
  font-family: "EBGaramond";
  src: url("../fonts/EBGaramond-Medium.ttf");
  font-weight: 500;
  display: swap;
}

@font-face {
  font-family: "EBGaramond";
  src: url("../fonts/EBGaramond-Bold.ttf");
  font-weight: 700;
  display: swap;
}
