.footer {
  &__column {
    padding: 40px;
    @include sm {
      padding: 20px 0px 20px 0px;
    }
  }

  &__label {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
.menu-footer {
  &__list {
    gap: 20px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    @include xs {
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.contacts-footer {
  &__item {
    font-weight: 400;
    color: black;
    position: relative;
    &:hover {
      color: rgb(8, 34, 58);
    }
    &::after{
      content: "";
      position: absolute;
      left: 0;
      width: 0;
      height: 1px;
      background-color: rgb(8, 34, 58);
      bottom: -5px;
      transition: .3s ease;
    }
    &:hover::after{
      width: 100%;
    }
  }
}
